Diabetes/db_flows.json
[{"id":"990c21f6.9eb12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8029cad5.eae538","type":"function","z":"990c21f6.9eb12","name":"PreToken","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"Skin\",msg.payload.Skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"nkVKUGxgaz3oLB7YWXJeSX4kgcvC6qqKTSVRPkOoEsLF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":420,"wires":[["36e7f00c.62731"]]},{"id":"36e7f00c.62731","type":"http request","z":"990c21f6.9eb12","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":360,"wires":[["913b6b8c.bae518"]]},{"id":"b5e288c4.3fb218","type":"debug","z":"990c21f6.9eb12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":100,"wires":[]},{"id":"913b6b8c.bae518","type":"function","z":"990c21f6.9eb12","name":"Pre Prediction","func":"var preg = global.get('preg')\nvar plas = global.get('plas')\nvar pres = global.get('pres')\nvar Skin = global.get('Skin')\nvar test = global.get('test')\nvar mass = global.get('mass')\nvar pedi = global.get('pedi')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"8f18b52f-a094-4b7d-a1e1-4c3d1c9fe20a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[preg, plas, pres, Skin, test, mass, pedi, age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":836.0000076293945,"y":371.9999990463257,"wires":[["f62007a5.fdcd38"]]},{"id":"f62007a5.fdcd38","type":"http request","z":"990c21f6.9eb12","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2cfaa29a-639a-483d-ad9f-56b7713e444e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":929.5000076293945,"y":315.9999990463257,"wires":[["d909acd2.ccc17","b5e288c4.3fb218","cd1cbb08.0ca478"]]},{"id":"d909acd2.ccc17","type":"function","z":"990c21f6.9eb12","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":140,"wires":[["9029fb04.fb57a8"]]},{"id":"91f99fee.33874","type":"ui_form","z":"990c21f6.9eb12","name":"","label":"","group":"d1982452.955ca8","order":1,"width":0,"height":0,"options":[{"label":"Pregnancy","value":"preg","type":"number","required":true,"rows":null},{"label":"Glucose","value":"plas","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"pres","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"Skin","type":"number","required":true,"rows":null},{"label":"Insulin","value":"test","type":"number","required":true,"rows":null},{"label":"BMI","value":"mass","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","Skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":231,"y":462.9999952316284,"wires":[["8029cad5.eae538"]]},{"id":"9029fb04.fb57a8","type":"ui_text","z":"990c21f6.9eb12","group":"d1982452.955ca8","order":2,"width":0,"height":0,"name":"","label":"Diabetes level","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":500,"wires":[]},{"id":"cd1cbb08.0ca478","type":"debug","z":"990c21f6.9eb12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":300,"wires":[]},{"id":"d1982452.955ca8","type":"ui_group","z":"990c21f6.9eb12","name":"Default","tab":"432e6898.3c9a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"432e6898.3c9a68","type":"ui_tab","z":"990c21f6.9eb12","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]